
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 245, 245);
   
 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
} 
.box{
    border: 2px solid black;
    max-width: 300px;
    text-align: center;
    padding: min(2rem, 5%);
    border-radius: 1.5rem;
   box-shadow: 4px 4px 3px rgba(26, 25, 25, 0.5);
}
   
     
    

    